<FilesMatch "\.(ico|pdf|jpg|jpeg|png|webp|gif|html|htm|xml|txt|xsl|css)$">
    Header set Cache-Control "max-age=60*60*24*365"
</FilesMatch>

ErrorDocument 404 /error.php
ErrorDocument 500 "<H1>Some error, contact administrator</H1>"

RewriteEngine On
RewriteBase /

RewriteRule ^/?images/([^/]+)?$ images.php?name=$1 [L,QSA,NC]
RewriteRule ^/?file/([^/]+)?$ file.php?name=$1 [L,QSA,NC]
RewriteRule ^/?file1/([^/]+)?$ file1.php?name=$1 [L,QSA,NC]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/.]+)$ $1.php [L]
